<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <section>
        <p><a href="/camaroes">Cadastrar especie de camarao</a></p>
        <p><a href="/cativeiros">Cadastrar cativeiro de camarao</a></p>
    </section>
    
<%- include ('partials/footer.ejs') %>